data
./data
models
./models
runs
./runs
WGZ_Code.rar
./WGZ_Code.rar
results.log
results.csv
results.json
./old_runs
old_runs
newOld_runs
./newOld_runs
Final_results.csv
Final_results.json
./Final_results.csv
./Final_results.json
projection_runs
./projection_runs
_runs
./_runs
final_models
./final_models
_final_models
./_final_models
_data
./_data
